[submodule "category_service"]
	path = category_service
	url = https://github.com/mymachine707/category_service.git
[submodule "eCommerce_apiGETWAY"]
	path = eCommerce_apiGETWAY
	url = https://github.com/mymachine707/eCommerce_apiGETWAY.git
[submodule "order_service"]
	path = order_service
	url = https://github.com/mymachine707/order_service.git
[submodule "auhtorization_client"]
	path = auhtorization_client
	url = https://github.com/mymachine707/auhtorization_client.git

